.Overlay {
    --thickness: 4px;
    --radius: 8px;

    display: block;
    pointer-events: auto;

    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    box-sizing: border-box;    
}


.Overlay[data-dragged-over='true']::before,
.Overlay:hover::before {
    content: ' ';
    display: block;
    
    position: absolute;
    top: 0px;
    bottom: 0px;
    
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
    border: calc(var(--thickness) / 2) solid white;
    border-radius: calc(var(--radius) - calc(var(--thickness) / 2));
}

.Overlay[data-dragged-over='true']::before {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-download-icon lucide-download"><path d="M12 15V3"/><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/><path d="m7 10 5 5 5-5"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
}

.Overlay[data-dragged-over='true'],
.Overlay:hover {
    border: calc(var(--thickness) / 2) solid black;
    border-radius: var(--radius);
}