.Overlay {
    --thickness: 4px;
    --radius: 8px;

    display: block;
    pointer-events: auto;

    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    box-sizing: border-box;    
}


.ForceOverlay::before,
.Overlay:hover::before {
    content: ' ';
    display: block;
    
    position: absolute;
    top: 0px;
    bottom: 0px;
    
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
    border: calc(var(--thickness) / 2) solid white;
    border-radius: calc(var(--radius) - calc(var(--thickness) / 2));
}

.ForceOverlay,
.Overlay:hover {
    border: calc(var(--thickness) / 2) solid black;
    border-radius: var(--radius);
}