.Container {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    margin: 0px;
    position: static;
    top: 0px;
    left: 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    gap: 0px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.Button {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    margin: 0px;
    position: static;
    top: 0px;
    left: 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    gap: 0px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}