.Container {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    margin: 0px;
    position: static;
    top: 0px;
    left: 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    gap: 0px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.Button {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    margin: 0px;
    position: static;
    top: 0px;
    left: 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    gap: 0px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.AccordionContainer {
    margin: 0px;
    
    width: 100%;
    height: 100%;

    display: grid;
}

.AccordionWrapper {
    /* gotta have something here so vscode doesn't complain :/ */
    --sosa-maji: 'mazna';
}

.AccordionHeader {
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid black;
}

.AccordionWrapper[data-open="true"] > .AccordionContents {
    height: auto;
}

.AccordionWrapper[data-open="false"] > .AccordionContents {
    height: 0px;
    overflow: hidden;
}